@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: Roboto;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.main-content {
  margin: auto 0;
  width: 601px;
  height: 436px;
  border: 1px solid;
}

.search {
  height: 45px;
  border-bottom: 1px solid;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 570px;
  height: 40px;
  font-size: 18px;
  border: none;
  outline: none;
}

.content {
  height: 390px;
  display: flex;
}

.weather-content {
  width: 50%;
  border-right: 1px solid;
}

.weather-info__main {
  height: 88%;
}

.weather-info {
  height: 345px;
  display: none;
}

.display-flex {
  display: flex;
  flex-direction: column;
}

.weather-info1__title {
  height: 82px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 82px;
  margin: 15px 15px 0;
}

.img {
  margin: auto;
  margin-top: 45px;
}

.weather-info1__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
}

.added-location-lists__city-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-left: 18px;
  margin-bottom: 10px;
}

.display-none {
  display: none;
}

.added-location-lists__city-name:first-child {
  margin-top: 35px;
}

.weather {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.weather-container {
  margin-left: 15px;
  margin-top: 42px;
}

.weather-info--container {
  height: inherit;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.weather-tabs {
  position: relative;
  display: flex;
  height: 45px;
  justify-content: space-around;
  border-top: 1px solid;
  margin-top: auto;
}

.tab {
  border-right: 1px solid;
  border: none;
  width: 100%;
  max-height: 44px;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
}

.tab:hover {
  background-color: black;
  color: white;
}

.tab:last-child {
  border-right: none;
}

.added-location-content {
  width: 50%;
}

.added-location-content_title {
  height: 68px;
  padding-left: 10px;
  border-bottom: 1px solid;
}

.added-location-lists {
  margin-left: 18px;
  overflow-y: scroll;
  height: 320px;
}

.favoriteCity-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.button {
  background-color: #e0e5ea;
  padding: 8px 10px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  transition: opacity 0.2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button img {
  pointer-events: none;
}

.content--active {
  display: block;
}

.tab--active {
  color: white;
  background-color: black;
}

.like {
  cursor: pointer;
}

.favoriteCity-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.city-name_page2 {
  margin-left: 15px;
}